- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "¿No recibiste el correo de confirmación?", new_person_confirmation_path(resource_name), class: "text-blue-500 font-bold"
  br